<%- include('header.ejs') %>
<body>
    <h1>Welcome to Quickbooks API</h1>
    <h3>Available CRUD Routes:</h3>
    <ul>
        <li>GET /view</li>
        <li>POST /input</li>
        <li>PUT /update</li>
        <li>DELETE /delete</li>
        <li>DELETE /delete/:id</li>
    </ul>
</body>
</html>
