h1 {
    font-size: 4rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

#hero-btn {
    color: #FFE6C7;
    border-color: #FFE6C7;
}

#hero-btn:hover {
    background-color: #FFE6C7;
    border-color: #FFE6C7;
    color: #454545;
}

#navbar {
    background-color: #454545;
}

.tagline {
    font-size: 1.2em;
    font-weight: 400;
}
