h1 {
    font-size: 4rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-btn {
    color: black;
    border-color: black;
}

.hero-btn:hover {
    background-color: #ccc3f8;
    border-color: #ccc3f8;
    color: black;
}
