#export-csv-btn {
    color: #454545;
    font-weight: 700;
    border: none;
    border-color: #FFE6C7;
    background-color: #FFE6C7;
    width: 10em;
    margin: auto;
}

#export-csv-btn:hover {
    background-color: #FFA559;
    color: #454545;
}

.export-text {
    color: #454545;
    background: none;
    text-decoration: none;
}

.export-text:hover {
    background-color: #FFA559;
    color: #454545;
}

.table-header {
    background-color: #454545;
}

#table-item {
    background-color: #454545;
    color: #FFE6C7;
}

#table-item svg {
    color: #FFE6C7;
}

#clear-btn {
    color: #454545;
    font-weight: 700;
    border: none;
    border-color: #FFE6C7;
    background-color: #FFE6C7;
    width: 10em;
}

#clear-btn:hover {
    background-color: #ff5959;
    color: #FFE6C7;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 0.9rem !important;
    }
}
